.border-layer {
  fill-opacity: 0;
  stroke: #dd557b;
  stroke-width: 24px;
  stroke-opacity: 1;
  stroke-linejoin: miter;
}

.grid_name {
 text-align: center;
 font-size: 9px;
}

.leaflet-control-container .leaflet-top {
  margin-top: 5px;
}

.leaflet-control-container .leaflet-left {
  margin-left: 5px;
}
