@page {
  size: A4;
  margin: 0;
}
  html, body {
    width: 210mm;
    height: 297mm;
  }
  /* ... the rest of the rules ... */

#main {
    margin: 0;
}

.noprint,
.leaflet-control {
  display: none;
}

#map {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: 0;

  /* needed for chrome in mobile version */
  z-index: 100;
}
