<html>
  <head>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" />
    <style>
      html, body {
        margin: 0;
      }
    </style>

  </head>
  <body>
    <div id="app" style="height: 100%">
      <v-map ref="map">
        <v-tilelayer :url="url" :attribution="attribution"></v-tilelayer>
        <v-geojson :v-if="grid" :geojson="grid" :options="gridOptions" /></v-geojson>
        <v-geojson :v-if="features" :geojson="features" :options="featureOptions" /></v-geojson>
      </v-map>
    </div>
  </body>

   <!-- Helper functions for HTTP-Request and other stuff -->
  <script src="utils.js"></script>
  <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js" ></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.2.4/vue.js" ></script>
  <script src="https://unpkg.com/vue2-leaflet@0.0.45/dist/vue2-leaflet.js" ></script>
  <script>

Vue.component('v-map', Vue2Leaflet.Map);
Vue.component('v-tilelayer', Vue2Leaflet.TileLayer);
Vue.component('v-geojson', Vue2Leaflet.GeoJSON);

var app = new Vue({
  el: '#app',
  data() {
    return {
      baseUrl: 'http://localhost:5000/api/maps/',
      mapId: null,
      url:'http://{s}.tile.osm.org/{z}/{x}/{y}.png',
      attribution:'&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
      bounds: null,
      grid: null,
      gridOptions: {
        style(f) { return f.properties },
      },
      features: [],
      featureOptions: {
        style(f) { return f.properties },
        pointToLayer(feature, latlng) {
          if (feature.properties.radius) {
            return L.circle(latlng,
              feature.properties.radius,
              feature.properties
            );
          }

          try {
            return L.marker(latlng, {icon: L.icon(feature.properties)});
          } catch (err) { console.log(err); }
          return L.marker(latlng);
        },
        onEachFeature(feature, layer) {
          layer.id = feature.properties.id;
        }
      }
    }
  },

  computed: {
    mapUrl() { return this.baseUrl + this.mapId }
  },

  watch: {
    // center map
    bounds(newBounds) {
      this.$refs.map.fitBounds(newBounds);
    },

    mapId(newMapId) {
      this.loadMap();
    }
  },

  methods: {
    loadMap() {
      // get bounds of map
      get(this.mapUrl).then((data) => {
        var a = L.GeoJSON.coordsToLatLng(data.bbox.slice(0,2)),
            b = L.GeoJSON.coordsToLatLng(data.bbox.slice(2,4));
        this.bounds = [a, b]
      })

      // load grid
      this.grid = [];
      get(this.mapUrl + '/grid').then((grid) => {
        this.grid = grid;
      })

      // load features
      this.features = [];
      get(this.mapUrl + '/features').then((data) => {
        this.features = data;
      })
    }
  },

  mounted() {
    this.mapId = 1;
  }
});
  </script>
<html>

